/* ******************** Variable Farben ************* */
$farbe_schwarz: #000;
$farbe_weiss: #fff;


/* textumrisse

-webkit-text-stroke 
-webkit-text-stroke-color
*/

/* ******************** Variable Ränder für margin und padding */
$rand_10: 10px;
$rand_20: 20px;
$rand_50: 50px;
$rand_100: 100px;
$rand_200: 200px;
/* ******************* neue Steiten defaults ********* */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************************ html und body *********************+ */

html,
body {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}


/* ************************* Schrift gößen ******************** */
/* 1+ gerade = weiß         ungerade + p = schwarz */

h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: $farbe_weiss;
    font-family: schrift_loraNormal, sans-serif;
}


h2 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: $farbe_weiss;
    font-family: schrift_loraNormal, sans-serif;
}

h3 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: $farbe_schwarz;
    font-family: schrift_loraNormal, sans-serif;
}



h4 {
    font-size: clamp(0.8rem, 40vw, 1.1rem);
    color: $farbe_weiss;
    font-family: schrift_loraNormal, sans-serif;
}

p {
    font-size: clamp(0.8rem, 40vw, 1.1rem);
    color: $farbe_schwarz;
    font-family: schrift_loraNormal, sans-serif;

}



h5 {
    font-size: clamp(0.6rem, 40vw, 0.8rem);
    color: $farbe_schwarz;
    font-family: schrift_worksNormal, sans-serif;
}

h6 {
    font-size: clamp(0.6rem, 40vw, 0.8rem);
    color: $farbe_weiss;
    font-family: schrift_worksNormal, sans-serif;
}


/* *************************** font family ********************* */

@font-face {
    font-family: schrift_loraNormal;
    src: url("../fonts/Lora_1/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family:schrift_worksNormal ;
    src: url("../fonts/Work_Sans_1/WorkSans-VariableFont_wght.ttf");
}

/* ******************** font family schrift zum einbindn *********** 

font-family: schrift_loraNormal, sans-serif;

font-family: schrift_worksNormal, sans-serif;

*/


/* ************************* Bilder Icon class en und breite begrenzen */
/* jedes Bild bekommt einen container herum mit den classen maxWidth 
dadurch sind die Bilder begrenzt, und responsive durch den Container. 
durch die img width 100% werden die Bilder schön eingepasst und nicht verzerrt  */
.img_icon___maxWidth {
    max-width: 30px;
}

.img_bild___maxWidth {
    max-width: 300px;
}

img{
    width: 100%;
}







/* 
* ************************ header ************************* */
/* 
* ************************ header ************************* */
/* 
* ************************ header ************************* */

header {
    background-color: $farbe_schwarz;

    img{
        height: 20px
    };
}
